/*GALERÃA*/

.seccion3 {
    margin-bottom: 7em;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columna {
    max-width: 16em;
    flex: 50%;
}

.columna > img {
    width:15em;
    margin-top: 1em;
    box-shadow: 0em 0em 0.6em rgb(0, 0, 0, 0.2);
}
